{
    "widgets": [
        {"module": "i3_status_line.widgets.separator",       "object": "Widget", "args": [], "kwargs": {}},
        {"module": "i3_status_line.widgets.bandwidth",       "object": "Widget", "args": [], "kwargs": {}},
        {"module": "i3_status_line.widgets.media_player",    "object": "Widget", "args": [], "kwargs": {}},
        {"module": "i3_status_line.widgets.yahoo_weather",   "object": "Widget", "args": [], "kwargs": {"city": "Curitiba"}},
        {"module": "i3_status_line.widgets.datetime",        "object": "Widget", "args": [], "kwargs": {}},
        {"module": "i3_status_line.widgets.disk",            "object": "Widget", "args": [], "kwargs": {"path": "/home/"}},
        {"module": "i3_status_line.widgets.cpu_load",        "object": "Widget", "args": [], "kwargs": {}},
        {"module": "i3_status_line.widgets.load_average",    "object": "Widget", "args": [], "kwargs": {}},
        {"module": "i3_status_line.widgets.cpu_temperature", "object": "Widget", "args": [], "kwargs": {"reading": 4}},
        {"module": "i3_status_line.widgets.wifi_ssid",       "object": "Widget", "args": [], "kwargs": {}},
        {"module": "i3_status_line.widgets.battery",         "object": "Widget", "args": [], "kwargs": {}},
        {"module": "i3_status_line.widgets.audio_volume",    "object": "Widget", "args": [], "kwargs": {}}
    ],
    "config": {
        "hide_on_zero": false,
        "theme": {
            "separator": {"color": "#6c6c6c", "style": "normal", "weight": "bold", "text": "\ue0b3"},
            "icon":      {"color": "#00aaff", "style": "normal", "weight": "bold"},
            "text":      {"color": "#eeeeee", "style": "normal", "weight": "normal"},
            "colors": {
                "separator": "#6c6c6c",
                "icon": "#00aaff",
                "text": "#eeeeee",
                "danger": "#ff0000",
                "warning": "#ffff00",
                "info": "#aaff00",
                "fade": "#666666"
            }
        }
    }
}
